{% extends "base.html" %}
{% block title %}DETAILS{% endblock title %}
{% block body %} <div class="container-fluid my-4 px-4 ">
    <h3> <FONT COLOR='PaleVioletRed '><u> We Have Different Types of ICE CREAME </h3>

        <div class="border border-success p-2 mb-2 border-opacity-10"><H1><I><FONT COLOR="DarkSalmon "><u>An Illustrated Tour of Ice Cream Styles Around the World</H1></u>
        </div>
            <div class="container-fluid my-4 px-4 ">
               <h3 class='text-center'><FONT COLOR="black"><u>TEN Types of Ice Cream You Should Know and Sample</h3>


   <br><img src="/static/p1.jpg" class="rounded mx-auto d-block" width='90%' height='500' class="rounded float-end" alt="...">

       <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>1.Gelato</h3>
        <img src="/static/p2.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>2.Kulfi</h3>
        <img src="/static/p3.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>3.Sherbet</h3>
        <img src="/static/p4.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>4.Frozen Yogurt</h3>
        <img src="/static/p5.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>5.Philadelphia Ice Cream</h3>
        <img src="/static/p6.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>6.Rolled Ice Cream</h3>
        <img src="/static/p7.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>7.Snow Cream</h3>
        <img src="/static/p8.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>8.Italian Ice</h3>
        <img src="/static/p9.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>9.Mochi</h3>
        <img src="/static/p10.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

        <br><br><br><h3 class='text-center'><FONT COLOR="black"><u>10.Soft Serve</h3>
        <img src="/static/p11.jpg" class="rounded mx-auto d-block" width='60%' height='500' class="rounded float-end" alt="...">

    </div>




{% endblock body %}
